## Data structures in panda - Series(1d),Dataframe(2d) and Panel(3d)
## Series

In [1]:
import pandas as pd
import numpy as np
a = np.array([1,2,3,4,5,6])
s = pd.Series(a)
print(s)

# We did not pass any index, so by default, it assigned the indexes ranging from 0 to len(data)-1,

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [5]:
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
print(s)
# NaN - Not a Number

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [6]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[0])
print()
print(s[:3])
print()
print(s[-3:])
print()
print(s['a'])
print()
print(s[['a','c','d']])

1

a    1
b    2
c    3
dtype: int64

c    3
d    4
e    5
dtype: int64

1

a    1
c    3
d    4
dtype: int64

## DataFrames

In [8]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [10]:

import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [11]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [4]:

import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print(("The axes are:"))
print(s.axes)

The axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [6]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print("Our data series is:")
print(df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

## Accessing data in Pandas

In [7]:
import pandas as pd
#Loading data with read_csv() function. Here we are providing path to the csv file. 
#If the file is in your system you can provide its path as well.
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

#Let's print and see its type
print(type(iris))
print(iris)

<class 'pandas.core.frame.DataFrame'>
     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [8]:
# Creating copy of DataFrame
df = iris 
# Above statement simply makes df refer to the data frame object that iris is referring to. So now both iris and df refer to the same dataframe object and any changes done via one will reflect in other.
# So effectively this is not creating another dataframe object. And if we wish to create a copy then we will use copy() function for that
df = iris.copy()
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [9]:
#Ignoring header -> If you don't want first row to be treated as a header, you can set header = None
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", header=None)
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [13]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [14]:
# head() function is a good way to have a look at first few enteries of the data frame. 
# By default if shows first 5 enteries. 
#You can write df.head(n) if you wish to have a look at first n enteries.
#df.head()

In [12]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [15]:
print(df.shape)
# 149 rows and 5 columns

(149, 5)

In [18]:
#Column Headers
print(df.columns)  # Will tell you what the current column headers are
#Changing Column Headers
df.columns = ['sl','sw','pl','pw','flower_type']
print(df.columns)

Index(['sl', 'sw', 'pl', 'pw', 'flower_type'], dtype='object')
Index(['sl', 'sw', 'pl', 'pw', 'flower_type'], dtype='object')

In [19]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [20]:
#describe() function is a good way to get some statistics around the data. 
# By default it includes all columns with numeric data.
#Also the results exclude NaN enteries
print(df.describe())
# gives count, mean,standard deviation,minimum,maximum,25% percentile etc
#If you want to include all columns for result, then use -
df.describe(include='all')

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

                sl          sw          pl          pw      flower_type
count   149.000000  149.000000  149.000000  149.000000              149
unique         NaN         NaN         NaN         NaN                3
top            NaN         NaN         NaN         NaN  Iris-versicolor
freq           NaN         NaN         NaN         NaN               50
mean      5.848322    3.051007    3.774497    1.205369              NaN
std       0.828594    0.433499    1.759651    0.761292              NaN
min       4.300000    2.000000    1.000000    0.100000              NaN
25%       5.100000    2.800000    1.600000    0.300000              NaN
50%       5.800000    3.000000    4.400000    1.300000              NaN
75%       6.400000    3.300000    5.100000    1.800000              NaN
max       7.900000    4.400000    6.900000    2.500000              NaN

In [21]:
#Accessing a particular column.
#df.column_name or df['column_name']lets you access a particular column
df.sl  #OR

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [22]:
df['sl']

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [23]:
#You can also call describe() on a particular column
df.sl.describe()

count    149.000000
mean       5.848322
std        0.828594
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sl, dtype: float64

In [24]:
#OR
df['sl'].describe()

count    149.000000
mean       5.848322
std        0.828594
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sl, dtype: float64

In [27]:
# Null enteries
#df.isnull() will give you list of null enteries
df.isnull()

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [28]:
#Although df.isnull() in itself might not be very useful, we can use df.isnull().sum() which gives us count of number of null enteries in every column.
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [31]:
#Selecting Rows and/or columns by position
#iloc helps us in achieving this.
#Selecting first 4 rows of data
df.iloc[:4,:]

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa

In [32]:
#Selecting data for first 4 rows, and for first 2 columns 
df.iloc[:4,:2]

    sl   sw
0  4.9  3.0
1  4.7  3.2
2  4.6  3.1
3  5.0  3.6

In [33]:
#Selecting data for rows 2 to 5, and for columns 1 to 3
df.iloc[2:6,1:4]

    sw   pl   pw
2  3.1  1.5  0.2
3  3.6  1.4  0.2
4  3.9  1.7  0.4
5  3.4  1.4  0.3

In [34]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [36]:
df.drop(0)
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [39]:
a = df.drop(0)
a.head()
# Remov the oth row

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [41]:
df.drop(0,inplace = True)
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [43]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=148)

In [44]:
iris.drop(iris.index[0], inplace=True)
iris.head(10)

      0    1    2    3            4
1   4.9  3.0  1.4  0.2  Iris-setosa
2   4.7  3.2  1.3  0.2  Iris-setosa
3   4.6  3.1  1.5  0.2  Iris-setosa
4   5.0  3.6  1.4  0.2  Iris-setosa
5   5.4  3.9  1.7  0.4  Iris-setosa
6   4.6  3.4  1.4  0.3  Iris-setosa
7   5.0  3.4  1.5  0.2  Iris-setosa
8   4.4  2.9  1.4  0.2  Iris-setosa
9   4.9  3.1  1.5  0.1  Iris-setosa
10  5.4  3.7  1.5  0.2  Iris-setosa

In [46]:
df.sl > 5

1      False
2      False
3      False
4       True
5      False
       ...
144     True
145     True
146     True
147     True
148     True
Name: sl, Length: 148, dtype: bool

In [47]:
df[df.sl > 5]

      sl   sw   pl   pw     flower_type
4    5.4  3.9  1.7  0.4     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[117 rows x 5 columns]

In [49]:
c1 = df[df.flower_type == "Iris-virginica"]
c1

      sl   sw   pl   pw     flower_type
99   6.3  3.3  6.0  2.5  Iris-virginica
100  5.8  2.7  5.1  1.9  Iris-virginica
101  7.1  3.0  5.9  2.1  Iris-virginica
102  6.3  2.9  5.6  1.8  Iris-virginica
103  6.5  3.0  5.8  2.2  Iris-virginica
104  7.6  3.0  6.6  2.1  Iris-virginica
105  4.9  2.5  4.5  1.7  Iris-virginica
106  7.3  2.9  6.3  1.8  Iris-virginica
107  6.7  2.5  5.8  1.8  Iris-virginica
108  7.2  3.6  6.1  2.5  Iris-virginica
109  6.5  3.2  5.1  2.0  Iris-virginica
110  6.4  2.7  5.3  1.9  Iris-virginica
111  6.8  3.0  5.5  2.1  Iris-virginica
112  5.7  2.5  5.0  2.0  Iris-virginica
113  5.8  2.8  5.1  2.4  Iris-virginica
114  6.4  3.2  5.3  2.3  Iris-virginica
115  6.5  3.0  5.5  1.8  Iris-virginica
116  7.7  3.8  6.7  2.2  Iris-virginica
117  7.7  2.6  6.9  2.3  Iris-virginica
118  6.0  2.2  5.0  1.5  Iris-virginica
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [50]:
c1.describe()

             sl         sw         pl        pw
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000

In [51]:
import pandas as pd
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df = iris.copy()
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [61]:
import pandas as pd
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",header = None)
df = iris.copy()
df.columns = ['sl','sw','pl','pw','flower_type']
a=df['flower_type'].describe(include = 'all')
a

count                 150
unique                  3
top       Iris-versicolor
freq                   50
Name: flower_type, dtype: object

In [66]:
df.groupby(['flower_type']).groups

{'Iris-setosa': Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
             34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
            dtype='int64'),
 'Iris-versicolor': Int64Index([50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66,
             67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83,
             84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
            dtype='int64'),
 'Iris-virginica': Int64Index([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
             113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
             126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
             139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
            dtype='int64')}

In [73]:
import pandas as pd
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",header = None)
df = iris.copy()
df.columns = ['sl','sw','pl','pw','flower_type']
print("50","50","50")

50 50 50

In [75]:
# //count flowers

import pandas as pd
column_names = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names = column_names)
df = iris.copy()
for i in iris['Species'].value_counts():
    print(i,end = " ")

50 50 50

In [3]:
import pandas as pd
column_names = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names = column_names)
iris = iris[iris['Species']=='Iris-virginica']
iris = iris[iris['PetalLength']>1.5]
X = iris.values
# print(iris.shape[1])
for i in range(iris.shape[0]):
    for j in range(iris.shape[1]):
        print(X[i][j],end = " ")
    print()

5

In [86]:
import pandas as pd
column_names = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names = column_names)
a = iris[iris['Species']=='Iris-setosa']
a

       SepalLength  SepalWidth  PetalLength  PetalWidth
count     50.00000   50.000000    50.000000    50.00000
mean       5.00600    3.418000     1.464000     0.24400
std        0.35249    0.381024     0.173511     0.10721
min        4.30000    2.300000     1.000000     0.10000
25%        4.80000    3.125000     1.400000     0.20000
50%        5.00000    3.400000     1.500000     0.20000
75%        5.20000    3.675000     1.575000     0.30000
max        5.80000    4.400000     1.900000     0.60000

In [24]:
# minSL minSW minPL minPW Iris-setosa
# maxSL maxSW maxPL maxPW Iris-setosa
# avgSL avgSW avgPL avgPW Iris-setosa

# Order for flower is Iris-setosa, Iris-versicolor and Iris-virginica.

import pandas as pd
column_names = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names = column_names)
z = iris[iris['Species']=='Iris-setosa']
a = z.min()
b = z.max()
c = z.mean()
c = c.round(2)
for i in a:
    print(i,end = " ")
print()
for i in b:
    print(i,end = " ")
print()
for i in c:
    print(i,end = " ")
print("Iris-setosa")

y = iris[iris['Species']=='Iris-versicolor']
a = y.min()
b = y.max()
c = y.mean()
c = c.round(2)
for i in a:
    print(i,end = " ")
print()
for i in b:
    print(i,end = " ")
print()
for i in c:
    print(i,end = " ")
print("Iris-versicolor")

x = iris[iris['Species']=='Iris-virginica']
a = x.min()
b = x.max()
c = x.mean()
c = c.round(2)
for i in a:
    print(i,end = " ")
print()
for i in b:
    print(i,end = " ")
print()
for i in c:
    print(i,end = " ")
print("Iris-virginica")

False

In [6]:
import pandas as pd
column_names = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names = column_names)
df1 = iris.copy()
df2 = iris.copy()
z = df1[df1['Species']=='Iris-setosa']
a = z.min()
b = z.max()
c = z.mean()
for i in a:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-setosa")
for i in b:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-setosa")
for i in c:
    print("{:.2f}".format(i),end = " ")
print("Iris-setosa")

y = df2[df2['Species']=='Iris-versicolor']
p = y.min()
q = y.max()
r = y.mean()
for i in p:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-versicolor")
for i in q:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-versicolor")
for i in r:
    print("{:.2f}".format(i),end = " ")
print("Iris-versicolor")

x = iris[iris['Species']=='Iris-virginica']
m = x.min()
n = x.max()
o = x.mean()
for i in m:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-virginica")
for i in n:
    if type(i) != str:
        print("{:.2f}".format(i),end = " ")
print("Iris-virginica")
for i in o:
    print("{:.2f}".format(i),end = " ")
print("Iris-virginica")

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.01 3.42 1.46 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

In [28]:
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1 = df1[df1['Country']=='India']
df1 = df1[df1['State']=='Jammu and Kashmir']
df1

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
21744,1984,4,17,India,Jammu and Kashmir,South Asia,Bhela,33.315527,74.622476,Assassination,2.0,0.0,Gurbachan Singh Sandhar (Sikh lawyer) and wife,NaN,Sikh Extremists,Private Citizens & Property,Unknown
22108,1984,5,20,India,Jammu and Kashmir,South Asia,Jammu,32.726602,74.857026,Bombing/Explosion,1.0,0.0,bridge over a stream,NaN,Unknown,Transportation,Explosives
29677,1986,12,11,India,Jammu and Kashmir,South Asia,Madora,33.934929,75.154160,Bombing/Explosion,1.0,5.0,general post office complex,NaN,Unknown,Government (General),Unknown
33202,1988,1,21,India,Jammu and Kashmir,South Asia,Mand,32.888165,74.985168,Armed Assault,2.0,0.0,police unit,NaN,Unknown,Police,Firearms
33372,1988,2,7,India,Jammu and Kashmir,South Asia,Kherawali,32.523889,74.974444,Armed Assault,4.0,5.0,marriage reception,NaN,Sikh Extremists,Private Citizens & Property,Firearms
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181222,2017,12,11,India,Jammu and Kashmir,South Asia,Kralcheck Keller,33.732981,74.855559,Armed Assault,2.0,1.0,Van,12/11/2017: Assailants opened fire on a Jammu ...,Jaish-e-Mohammad (JeM),Business,Firearms
181396,2017,12,18,India,Jammu and Kashmir,South Asia,Baramulla district,34.191218,74.350010,Bombing/Explosion,0.0,0.0,Police Station,12/18/2017: Assailants threw a grenade at a po...,Unknown,Police,Explosives
181414,2017,12,19,India,Jammu and Kashmir,South Asia,Pulwama district,33.873538,74.899019,Bombing/Explosion,0.0,0.0,Police Line,12/19/2017: Assailants fired a rifle grenade a...,Unknown,Police,Explosives
181476,2017,12,22,India,Jammu and Kashmir,South Asia,Srinagar,34.083740,74.789902,Armed Assault,0.0,0.0,Post,12/22/2017: Assailants threw two petrol bombs ...,Unknown,Police,Incendiary
181672,2017,12,31,India,Jammu and Kashmir,South Asia,Lethapora,33.966527,74.964225,Armed Assault,8.0,3.0,Camp,12/31/2017: Assailants armed with grenades and...,Jaish-e-Mohammad (JeM),Police,Explosives

In [61]:
# The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
# Print count of number of attacks in that city as integer value.
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1 = df1[df1['Country']=='India']
df1 = df1[df1['State']=='Jammu and Kashmir']
df1['City'].describe()
df1 = df1[df1['City']=='Srinagar']
df2 = df1[df1['Group']!='Unknown']
df2['Group'].describe()
count1 = 0
count2 = 0
for i in df1['Group']:
    if(i=='Unknown'):
        count1+=1
    else:
        count2+=1
print('Srinagar',count2,"Muslim Separatists")

Srinagar 351 Muslim Separatists

In [71]:
# Find out the Country with Highest Number of Terror Attack and 
# in which year the most number of terrorist attack happened in that country ?
# Print count of terror attacks as integer value.
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1['Country'].describe()
df1 = df1[df1['Country']=='Iraq']
df1

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
2854,1975,3,1,Iraq,Nineveh,Middle East & North Africa,Mosul,36.354145,43.143570,Hijacking,0.0,1.0,B-737,NaN,Unknown,Airports & Aircraft,Unknown
4385,1976,12,15,Iraq,Baghdad,Middle East & North Africa,Baghdad,33.303566,44.371773,Bombing/Explosion,10.0,285.0,Airport terminal,NaN,Unknown,Airports & Aircraft,Explosives
4393,1976,12,18,Iraq,Unknown,Middle East & North Africa,Penjwon,NaN,NaN,Hostage Taking (Kidnapping),0.0,0.0,agricultural experts in NE Iraq,NaN,Kurdish Democratic Party-Iraq (KDP),Government (General),Unknown
4402,1976,12,24,Iraq,Baghdad,Middle East & North Africa,Baghdad,33.303566,44.371773,Assassination,2.0,0.0,Personnel,NaN,Unknown,Violent Political Party,Firearms
8688,1979,6,15,Iraq,Basra,Middle East & North Africa,Basra,30.510054,47.778095,Assassination,1.0,0.0,local secretary,NaN,Unknown,Government (General),Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181669,2017,12,30,Iraq,Kirkuk,Middle East & North Africa,Kirkuk,35.452110,44.375465,Bombing/Explosion,0.0,5.0,Cafe,12/30/2017: Assailants threw grenades at a caf...,Unknown,Business,Explosives
181670,2017,12,31,Iraq,Diyala,Middle East & North Africa,Hawd al-Waqf,33.816111,44.783524,Unknown,1.0,0.0,Station,12/31/2017: Assailants attacked a police stati...,Islamic State of Iraq and the Levant (ISIL),Police,Unknown
181671,2017,12,31,Iraq,Saladin,Middle East & North Africa,Farhatiyah,34.031331,44.070106,Bombing/Explosion,4.0,9.0,Civilians,12/31/2017: Assailants attacked civilians in F...,Islamic State of Iraq and the Levant (ISIL),Private Citizens & Property,Explosives
181674,2017,12,31,Iraq,Nineveh,Middle East & North Africa,Baaj,36.045059,41.716717,Unknown,5.0,0.0,Troops,"12/31/2017: Assailants attacked Baaj, Nineveh,...",Islamic State of Iraq and the Levant (ISIL),Military,Unknown
181679,2017,12,31,Iraq,Diyala,Middle East & North Africa,Muqdadiyah,33.953167,44.921906,Armed Assault,13.0,0.0,Post,12/31/2017: Assailants attacked volunteer figh...,Islamic State of Iraq and the Levant (ISIL),Military,Firearms

In [128]:
# NumberOfPeopleKilled Country TerroristGroup
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1 = df1[df1['Killed']==1570]
print(int(1570),"Iraq","Islamic State of Iraq and the Levant (ISIL)")

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

In [148]:
# There was formation of new government in India on 26 May 2014. 
# So current government's span is from 26th May 2014 to current. 
# Find out two things from this period-
# TotalAttacks MostActiveTerroristGroup
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1 = df1[df1['Country']=='India']
df2 = df1.copy()
df1 = df1[df1['Year']>2014]
# Maoists
a = df1.count()
df1.describe(include = 'all')
df2 = df2[df2['Year']==2014]
df3 = df2.copy()
df2 = df2[df2['Month']>5]
b = df2.count()
df3 = df3[df3['Month']==5]
df3 = df3[df3['Day']>25]
c = df3.count()
print(int(3336),"Maoists")

3336 Maoists

In [156]:
# City NumberOfAttack Group
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df1 = df1[df1['State']=='Jammu and Kashmir']
city_list = df1['City'].value_counts()
city = city_list.index[0]
# city
attack = city_list.values[0]
# attack
df1 = df1[df1['City']==city]
group = df1['Group'].value_counts().index[1]
# group
print(city,attack,group)

Srinagar 657 Muslim Separatists

In [160]:
# Country NumberOfAttack Year
# Find out the Country with Highest Number of Terror Attack 
# and in which year the most number of terrorist attack happened in that country ?
# Print count of terror attacks as integer value.
import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
country_list = df1['Country'].value_counts()
country = country_list.index[0]
# country
attack = country_list.values[0]
# attack
df1 = df1[df1['Country']==country]
year = df1['Year'].value_counts().index[0]
# year
print(country,attack,year)

Iraq 24636 2014

In [189]:
# Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir ?
# Here Frequency is (Total Casualty/Total Number of a year)
# Print frequency as integer value.
# Note:Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. 
# Here Casualty=Killed +Wounded.Don't fill the nan value present in Killed and Wounded feature.

import pandas as pd
data = pd.read_csv('Dataset/terrorismData.csv')
df1 = data.copy()
df2 = data.copy()
df1 = df1[(df1['State']=="Jharkhand") | (df1['State']=="Odisha") | (df1['State']=="Andhra Pradesh") | (df1['State']=="Chhattisgarh")]
a = df1['Killed'] + df1['Wounded']
ans1 = int(a.sum())//int(2545)
print(int(ans1),end = " ")
df2 = df2[(df2['State']=="Jammu and Kashmir")]
b = df2['Killed'] + df2['Wounded']
ans2 = int(b.sum())//int(2454)
print(int(ans2))

2 4

In [1]:
# Email Eict

In [14]:
import pandas as pd
data = pd.read_csv("Dataset/eict.csv")
df1 = data.copy()
email = []

df1['Email-ID'].dropna(inplace=True)
e = df1['Email-ID']
for i in e:
    if i in email:
        continue
    else:
        email.append(i)
for i in email:
    print(i)

bishwajit.cse15@nitp.ac.in
afzal.cse15@nitp.ac.in
radhikesh.cs18@nitp.ac.in
ns7705@gmail.com
sakshiwala.cs19@nitp.ac.in
shwetaraghuvanshi756@gmail.com
purnima.cs18@nitp.ac.in
sonalshrin@gmail.com
amar.aanujee@gmail.com
anandravit1@gmail.com
bbm101993@gmail.com
pappukumar.ce16@nitp.ac.in
ajaynit1970@gmail.com
upendra.singh@nitp.ac.in
singh.akhilpratap@yahoo.com
chbhs92@gmail.com
muhammadaknan@gmail.com
shalini.ce17@nitp.ac.in
raviganga.ce18@nitp.ac.in
22prajnyashu@gmail.com
vermasahil37@gmail.com
vikash9n@gmail.com
searchprerana94@gmail.com
sssweety211@gmail.com
sonaraj13@gmail.com
kksdba@gmail.com
abrarsiwan@gmail.com
ajitdubey@nitp.ac.in
brajki@rediffmail.com
shaheen.hera.netcs@gmail.com
sabahtazeen786@gmail.com
nirajkumar2271@gmail.com
sanjnitp@gmail.com
supriyasingh.er@gmail.com
www.kuldeepkumar19952010@gmail.com
sneharai0212@gmail.com
shukla.ssp@gmail.com
rahulray121652@gmail.com
amitbhola20@gmail.com
abidhan@nitp.ac.in
dhilipkaan@gmail.com
sakthiarun666@gmail.com
jiveshujjwal@gmail.com
meehararfi@gmail.com
amitbsbkumar@gmail.com
randheerkumarravi@gmail.com
kumarvishal238@gmail.com
dashrathmahto12@gmail.com
sweta.ec18@nitp.ac.in
cksingh1234@gmail.com
vinay.ec17@nitp.ac.in
rakesh.ec19@nitp.ac.in
ranjan.ec18@nitp.ac.in
ratnesh.ece16@nitp.ac.in
dawnsinghprabhat07@gmail.com
rakshita14.mall@gmail.com
ajaykumarvishkarma1252@gmail.com
pawan94dns@gmail.com
birendra.ece17@nitp.ac.in
mdquaiserhashmi@gmail.com
er.rahulgupta01@gmail.com
deepakseervi111@gmail.com
kjashishjha@gmail.com
dhrub7@gmail.com
alam.dba2010@gmail.com
archanat95@gmail.com
rahulp14091989@gmail.com
professionalsumeetsinha@gmail.com
ashifhabibi@gmail.com
er.saurabh009@gmail.com
santoshgupta1990@gmail.com
91punaramuk@gmail.com
sayessbalaksahu@gmail.com
rajeshmitcivil@gmail.com
laljawahar1975@gmail.com
sadiquenayeem@gmail.com
rajeev1745@gmail.com
prabhakarkumar51@gmail.com
thakurmani26@gmail.com
aftabanjum915@gmail.com
knsgpsamastipur@gmail.com
arbind@keck.ac.in
chaitanya.hermbramag@gmail.com
subhamshee@gmail.com
dashratmahto12@gmail.com
rahul.ec18@gmail.com
sameer.iete@gmail.com
kumar.santosh.iit@gmail.com
ashishranjan29@gmail.com
mksbit793@gmail.com
djha@bitsindri.ac.in
jnmahto.me@bitsindri.ac.in
pksingh.me@bitsindri.ac.in
uprasad1963@gmail.com
pr_bit2001@yahoo.com
rpguptabit@gmail.com
amit.ee@bitsindri.ac.in
praveenkumar@bitsindri.ac.in
prakashkr.prod@bitsindri.ac.in
scdutta@bitsindri.ac.in
vermarajeev51@yahoo.com
sanjaypmishra123@gmail.com
mt.gupta@yahoo.com
anilraj1234@gmail.com
tvair2883@gmail.com
iahmad@bitsindri.ac.in
singhpritika03@gmail.com
diwakar06me10@gmail.com
durgscall@gmail.com
apburnwal@yahoo.com
joydeepsen2008@gmail.com
prasad.rohi22@gmail.com
smitakumari111@gmail.com
uttnitjsr@gmail.com
harprit.rvscet@gmail.com
bindup2ku@gmail.com
psingh67@hotmail.com
neenakumarid@gmail.com
krakesh.grd@gmail.com
raginiragsss22@gmail.com
rr.rahulranjan90@gmail.com
sardaramit14ravi@gmail.com
skf786skf@gmail.com
samanta.sidhu@gmail.com
beingsweety@gmail.com
vijaybesra@gmail.com
vardhan1206@gmail.com
incredibleshashank@gmail.com
amit.kumar.mehta92@gmail.com
navaneetsingh0@gmail.com
dikshaprasoon489@gmail.com
dharmeshtiwari1991@gmail.com
khusboo17april@gmail.com
prksing598@gmail.com
binisinha@gmail.com
rahulrnjn14@gmail.com
shilpibce.hzb@gmail.com
sp.vbu@yahoo.com
raghawendrakumar.singh@gmail.com
sksbol1@gmail.com
sunilrajwar@gmail.com
suvir.12@gmail.com
ravindra.kujur06303@gmail.com
daya_nand13@yahoo.co.in
abhinav.bih7@gmail.com
jksarkar007@gmail.com
awadhesh.ucet@gmail.com
khemlalucet@gmail.com
archanadhan@gmail.com
ananducet87@gmail.com
brajesh8bu@gmail.com
sauravkr2238@gmail.com
dilip_ucet@rediffmail.com
Chatracollege@gmail.com
nishant.praveer360@gmail.com
drsureshbarnwal@gmail.com
prasad.santoshspd1234@gmail.com
kumargourav009@gmail.com
vikash.iitdhanbad@gmail.com
amit.me.srivastava@gmail.com
pushpi.05.wit@gmail.com
nilabhks@gmail.com
amishranjan347@gmail.com
vkishore46@gmail.com
aalok1010@gmail.com
khushboo17april@gmail.com
manbodhucet@gmail.com
upmavyas@gmail.com
nirmala.ism@gmail.com
pramodchem25@gmail.com
khustar.ism@gmail.com
psremani8@gmail.com
prashant10mar@gmail.com
mjha4u@gmail.com
avspavankumar@giet.edu
sudheerpunuri@giet.edu
gvsnarayana@giet.edu
ksuresh@giet.edu
msravani@giet.edu
ksivakrishna@giet.edu
raghvendraagrawal7@gmail.com
jyotirmayamishra@gmail.com
neela.mbamtech@gmail.com
rasmi.mcamtech@gmail.com
premansusekhararath@giet.edu
bhavanipanda@giet.edu
kmgopal@giet.edu
bkmishra@giet.edu
gsnayakcse@giet.edu
patropranaya23@giet.edu
amar.padmaja@gmail.com
jemarani253@giet.edu
sanjay.kuanar@giet.edu
sndas@giet.edu
nilambar@giet.edu
devpriya.panda@giet.edu
danil@giet.edu
ranjeetpanigrahi@giet.edu
rrajasekhar@giet.edu
muralisenapaty@giet.edu
gitanjali@giet.edu
susanta.padhy@gmail.com
chandra.mahanty@giet.edu
sptripathy@giet.edu
sibofromgiet@giet.edu
ddansana@giet.edu
prahalladsahu@giet.edu
bandita.sahu@giet.edu
anasuyasahoo@giet.edu
archanapatnaik@giet.edu
tabishmufti@jamiahamdard.ac.in
shakeel@jamiahamdard.ac.in
anilkmr086@gmail.com
navedfzd@gmail.com
mihir9832@gmail.com
husainsuraiya@gmail.com
nahemd@jamihamdard.ac.in
sghafir@jamiahamdard.ac.in
fahmadi@jmi.ac.in
snaaz@jamiahamdard.ac.in
tabrez.nafis@jamiahamdard.ac.in
jyotsana.iitd@gmail.com
omair@jamiahamdard.ac.in
samia.khan20@gmail.com
nida.iftekhar@jamiahamdard.ac.in
sherin.zafar@jamiahamdard.ac.in
qprana@jamiahamdard.ac.in
fsiddiqui@jamiahamdard.ac.in
nafis@gmail.com
shahabssohail@jamiahamdard.ac.in
pagarwal@jamiahamdard.ac.in
anishahamad583@gmail.com
anamsaiyeda@jamiahamdard.ac.in
gautami.tripahti@jamihamdard.ac.in
takhan@jamiahamdard.ac.in
aahad@jamiahamdard.ac.in
aqeelkhalique@jamiahamdard.ac.in
refiawiquar@jamiahamdard.ac.in
richagupta@jamiahamdard.ac.in
ssbiswas@jamiahamdard.ac.in
harleen@jamiahamdard.ac.in
piyush4talkin@gmail.com
safdartanweer@gmail.com
vikashme.srivastava@gmail.com
mechanicalsunilpatel1992@gmail.com
shekhar.mkrdrp1@gmail.com
dineshsonkar099@gmail.com
vk933512@gmail.com
bks912594@gmail.com
kavitasonkar099@gmail.com
ankursingh606@gmail.com
bhawanamishra332@gmail.com
shaivigupta0532@gmail.com
shriaygupta0532@gmail.com
ziakhan7388@gmail.com
kmmantasha933@gmail.com
ranjhisahu@gmail.com
dakshita8888822@gmail.com
rishikasri1800@gmail.com
priyankaverma19911@gmail.com
mohitkumar1432819@gmail.com
pattanayakarunima@gmail.com
ashishkumardass@nist.edu
asishroy@nist.edu
asitkp.nist@gmail.com
barada.sethy@nist.edu
basantsahu@nist.edu
bhabanig@nist.edu
bhawani@ntcsindia.com
biswa.routray@nist.edu
ch.sreekumar@nist.edu
charulata@nist.edu
devanand@nist.edu
deepika@nist.edu
dkm.iitkgp@gmail.com
bishnukar@nist.edu
tapas@nist.edu
gvananda@gmail.com
harikrushna@nist.edu
khemant.reddy@nist.edu
kln@nist.edu
krarhi@nist.edu
kumar.srikanta1981@gmail.com
manishapatro@nist.edu
mitubaral@gmail.com
msukla@nist.edu
nibedita.mohapatra@nist.edu
pradeep@nist.edu
pnacharya@rediffmail.com
prasant@nist.edu
rajeshpatjoshi1@gmail.com
rakesh.swain@nist.edu
ruchika@nist.edu
satyaranjanpattanaik@nist.edu
satyabrata@nist.edu
sptripathy@gmail.com
dsourabh@nist.edu
sudhir.pattanaik@nist.edu
swagat@nist.edu
kuresh.tripathy@nist.edu
suneel.rath@nist.edu
siba.maharana@nist.edu
lambodar.badatya@nist.edu
srinivas.rao@nist.edu
Sandhya.mohapatra@nist.edu
Laxmi.sahu@nist.edu
gayatri.mohanty@nist.edu
abhijit.dey@nshm.com
ananya.das@nshm.com
anu.debnath@nshm.com
anwesa.das@nshm.com
dhananjoy.mandal@nshm.com
amal.chakrabarti@nshm.com
koyel.misra@nshm.com
hemanta.ghosh@nshm.com
heranmoy.maity@nshm.com
jeet.ganguly@nshm.com
jesmin.zakaria@nshm.com
jhuma.kundu@nshm.com
joydeep.dutta@nshm.com
kushal.maity@nshm.com
manisha.ghosh@nshm.com
abdul.mondal@nshm.com
moumita.bose@nshm.com
partha.barma@nshm.com
cse2002.payel@gmail.com
pulak.das@nshm.com
sabyasachi.chakraborty@nshm.com
sandip.maiti@nshm.com
sanjay.prasad@nshm.com
saptarshi.roychowdhury@nshm.com
saumyajit.de@nshm.com
sheuli.chakraborty@gmail.com
shreya.ad08@gmail.com
shubhankar.cal@gmail.com
srimanta.ghosal@nshm.com
sriparna.bose@nshm.com
anand.mohan@nshm.com
surajit.das@nshm.com
tapan.mukherjee@nshm.com
ujjaini.sinharoy@nshm.com
arun.Upadhyay@nshm.com
samrat.ray@nshm.com
md.anwar@nshm.com
anu.samanta@nshm.com
madhusudan.das@nshm.com
bidyut.routh@nshm.com
sudip.chak.ju@gmail.com
angshu.sinha@nshm.com
srabani.das@nshm.com
mayank.jain@nshm.com
zas.203@gmail.com
priyanka.mukherjee@nshm.com
rajeev.ranjan@nshm.com
sudip.basu@nshm.com
dg81186@gmail.com
sabyasachi.mukherjee@nshm.com
aniruddha.samanta@nshm.com
bhaskerpratap.phy@ritroorkee.com
bsbhatnagar1977@gmail.com
bkamitroorkee@gmail.com
hodcse@ritroorkee.com
pramodmehra11@gmail.com
praveenbit08@gmail.com
gauravchaturvedi.mca@ritroorkee.com
Hodmba@ritroorkee.com
akshat agarwal.mba@ritroorkee.com
Amitsachan1985@gmail.com
anshikapathak.ece@ritroorkee.com
amitku_rawat@rediffmail.com
deepakkashyap8787@gmail.com
Pooja.chy@ritroorkee.com
nidhia012003@gmail.com
purnima.ece@ritroorkee.com
hodece@ritroorkee.com
ashokchaudhary219@gmail.com
singhalrishabh595@gmail.com
nirmesh0120@gmail.com
Meghabhatia.mba@ritroorkee.com
Harshitgautam.mba@ritroorkee.com
shalinidhiman.ece@ritroorkee.com
registrar@ritroorkee.com
sushilpanwar.mca@ritroorkee.com
hodag@ritroorkee.com
academicdean.hc@ritroorkee.com
sanghamitra.manna@gmail.com
msaikat2004@gmial.com
schakraborty770@gmail.com
sukhentisl_it@rediffmail.com
dharma1_das@yahoo.com
dityashila@yahoo.com
nbanerjee54@gnail.com
meet.abhide@gmail.com
dibyendu84@gmail.com
pallab_ganguly@yahoo.com
pranati991@gmail.com
sayantms@gmail.com
ansarali1301@gmail.com
rajdeepghatak006@gmail.com
coolsubha1991@gmail.com
sreeparna111@gmail.com
santuguin@gmail.com
monalisa_evjee@yahoo.com
contact.nilanjana@gmail.com
arpitaghosh.tech@gmail.com
reshmitam@gmail.com
ayesha.sultana007@gmail.com
sanjay.palit123@gmail.com
falgunichowdhury210@gmail.com
chandra_patro@yahoo.co.in
mitra.tapas@gmail.com
partho.m@technoindiaeducation.com
arunava.kabiraj007@gmail.com
gopal.p@technoindiaeducation.com
cdebjani79@gmail.com
sohini.fiem@gmail.com
souvickmukherjee1990@gmail.com
prodipta71@gmail.com
uttam003@gmail.com
proloy06.lee@gmail.com
soumikdas.techno@yahoo.co.in
chakrabarty.sudipta@gmail.com
ashiqurrahaman.tisl@gmail.com
roy.surojit@gmail.com
ghoshal.sandip@gmail.com
pradosh.banerjee@yahoo.com
padmaja_v@vnrvjiet.in
padmasree_l@vnrvjiet.in
rajendraprasad_s@vnrvjiet.in
krishnasree_v@vnrvjiet.in
radhakrishna_g@ vnrvjiet.in
shaikkhadarsharif@vnrvjiet.in
dhanalakshmi_n@vnrvjiet.in
rameshkumar_a@vnrvjiet.in
chalapathirao_y@vnrvjiet.in
archana_b@vnrvjiet.in
sahitya_g@vnrvjiet.in
arunakumari_k@vnrvjiet.in
jyostna_k@vnrvjiet.in
kanthisudha_d@vnrvjiet.in
dharmateja_l@vnrvjiet.in
rajanikumari_lv@vnrvjiet.in
priyanka_v@vnrvjiet.in
kishore_p@vnrvjiet.in
sarathchandra_k@vnrvjiet.in
shanthi_g@vnrvjiet.in
vijayakumar_g@vnrvjiet.in
naveenkumar_v@vnrvjiet.in
srinivasarao_p@vnrvjiet.in
deepthi_k@vnrvjiet.in
eceanudeep@gmail.com
mitu_vm@vnrvjiet.in
Shabarinath_bb@vnrvjiet.in
sagarreddy_v@vnrvjiet.in
ganesh_ch@vnrvjiet.in
swethareddy_k@vnrvjiet.in
sangeetha4k1@gmail.com
naresh_k@vnrvjiet.in
santoshkumar_ch@vnrvjiet.in
rajakumari_ch@vnrvjiet.in
pushpa_g@vnrvjiet.in
kaushik_c@vnrvjiet.in
santanukumar_d@vnrvjiet.in
j.umamahesh21@gmail.com
saritha_v@vnrvjiet.in
nchandrika_g@vnrvjiet.in
srilaxmi_d@vnrvjiet.in
bhargav_s@vnrvjiet.in
krishna.cseit@gmail.com
prasanna.seshapu@gmail.com
Aravindaanl@gmail.com
rajamandapati2007@gmail.com
Abdulmuqeeth.it@gmail.com
mohebbanaaz@gmail.com
pkpanigrahi@giet.edu
akshyasahoo@giet.edu
arunrath@giet.edu
srikantm@giet.edu
ranjitarout@giet.edu
priyambadaparida@giet.edu
amritkumarpanigrahi@giet.edu
tapassingh@giet.edu
grkdsp@giet.edu
rakeshsahu@giet.edu
sujit@giet.edu
ybhanu@giet.edu
balaram305@gmail.com
mishralalit@gmail.com
deanrnd@giet.edu
giet.11ee062@gmail.com
ashimasindhumohanty@giet.edu
1radhanath.patro@gmail.com
padminimishra@giet.edu
tkpanda@giet.edu
bandanamallick@giet.edu
tapparao@giet.edu
ami85parida@gmail.com
bibhuprasad@giet.edu
subhrajitpradhan@giet.edu
ashishtiwary@giet.edu
svhargav.reddy9@gmail.com
bvikram@giet.edu
ajitpatro@giet.edu
amitmedhavi@knit.ac.in
diksha2mail@gmail.com
ritesh.jaiswal695@gmail.com
nik.chaturvedi1995@gmail.com
alok.mishra.2322@knit.ac.in
shwetu786@gmail.com
kmssh1988@gmail.com
sunitisingh1990@gmail.com
spkutar@knit.ac.in
ankita.bajpai@knit.ac.in
rksingh@knit.ac.in
rks_sat@rediffmail.com
gangwar_sp@rediffmail.com
bindeswar.singh2005@gmail.com
shabece916@gmail.com
rahul.ratnakumar@knit.ac.in
kapilphys@gmail.com
arvind@knit.ac.in
yogeshchauhan@knit.ac.in
ykmishra@knit.ac.in
ak.akhilesh@gmail.com
anujsinghknit@knit.ac.in
psingh3688@gmail.com
mohammadsa786@gmail.com
hk.mishra@knit.ac.in
rahul.shukla@knit.ac.in
dlgupta@knit.ac.in
ved.2223@knit.ac.in
bpchaurasia@knit.ac.in
patel.qiet85@gmail.com
shailendra113.iitb@gmail.com
rameshsonkar098@gmail.com
poojapandey0532@gmail.com
khushbupandey0532@gmail.com
manojsenapati@nist.edu
siddbn@nist.edu
msuresh@nist.edi
mitubaral@nist.edu
devika@nist.edu
shwetapadma@nist.edu
kshirabdhee@nist.edu
arttatran@nist.edu
santoshapex2009@gmail.com
santoshacharya@nist.edu
rkdash@nist.edu
durgadash@nist.edu
sukanti. nist@gmail.com
malabika@nist.edu
padmaja.mishra@nist.edu
ssmahato@nist.edu
sangeetapalo@nist.edu
kunal.sikdar@nist.edu
sandipan@nist.edu
ranjitbehera@nist.edu
kunjabiharinanda@gmail.com
partha.padhy@gmail.com
asit.panda@nist.edu
raghunandanswain@gmail.com
dineshdash123@gmail.com
padarbindo11@gmail.com
patra.praveen@gmail.com
swadhin@nist.edu
sguha.phy.2018@gmail.com
swarup.dasgupta@nshm.com
kathamrita.sain@nshm.com
sujit.goswami@nshm.com
moumita.mondal@nshm.com
purusottam.sain@gmail.com
monindraw@gmail.com
rakhi.dey@nshm.com
pritam.dutta@nshm.com
bimal.karmakar@nshm.com
poulomi.chatterjee@nshm.com
shreya.adhvaryyu@nshm.com
parna.kundu@nshm.com
amitava.das@nshm.com
sankha.chatterjee@nshm.com
dipankar.sadhu@nshm.com
sudip.chakraborty@nshm.com
sudipta.banerjee@nshm.com
anany.das@nshm.com
viveka.nandsharma@nshm.com
mohit.kumar@nshm.com
supravat.mondal@nshm.com
chiranjib.mukherjee@nshm.com
mamoni.dey@nshm.com
manimala.pal@nshm.com
deepro.sen@nshm.com
subir.datta@nshm.com
suvabrata.mukherjee@nshm.com
ymd17@rediffmail.com
manishkumar.jiit@gmail.com
VivekRastogi@ieee.org
psitraghvendra@gmail.com
tanmai.kul@gmail.com
abhisheksrathour@gmail.com
abhisheksingh013@gmail.com
ds.kushwaha@psit.in
rohit.tri2008@gmail.com
sahugaurav12@gmail.com
er.ruchichaurasia@gmail.com
ajaygarg01987@gmail.com
malhotraanand01@gmail.com
kirtik701@gmail.com
meghadixit247@gmail.com
nidhibajhpayee@gmail.com
findnm@gmail.com
pratibha061989@gmail.com
praveensri4u@gmail.com
chauhan.rashmi08@gmail.com
rkumarbmas@gmail.com
sangamabhadouria0103@gmail.com
shailendrasinha7777@gmail.com
sudhir.singh7077@gmail.com
suyashadwivedi542@gmail.com
utkarsh.pandey08@gmail.com
varun.shuklaa@gmail.com
r.ved.hbti@gmail.com
vidyadhar.gupta@gmail.com
vikassr2009@gmail.com
raghav.psit@gmail.com
reach2sab@gmail.com
raviiitk83@gmail.com
shivani_badoni@rediffmail.com
guptasumit1000@gmail.com
anjali358@gmail.com
er.pradeepgupta@gmail.com
ec@psitcoe.ac.in
namrata.ec93@gmail.com
gurjarpsit@gmail.com
arti.saxena@psit.in
srivastavaankur71@gmail.com
alkesh.ec@srmu.ac.in
er.mritunjayrai@gmail.com
er.jay11@gmail.com
manas26@gmail.com
manbh2004@yahoo.com
maheshwariarpit777@gmail.com
shivanichitranshi2610@gmail.com
swatimishra1@outlook.com
akash.jaiswal324@gmail.com
anand160489@gmail.com
rsbajpai.ee@srmu.ac.in
raj.anshita@gmail.com
kamalsoni0952@gmail.com
er.yogeshpal15@gmail.com
vinybhu@gmail.com
vandanashuklaec05@gmail.com
sun.mita@gmail.com
sheelmohansrivastava17@gmail.com
nidhi.17agarwal@gmail.com
satya@srmcem.ac.in
shiv.ec@srmcem.ac.in
vivek.srmu@gmail.com
awanish.ec@srmcem.ac.in
dhirendra.ac@srmcem.ac.in
vibha@srmcem.ac.in
anju@srmcem.ac.in
hodec@srmcem.ac.in
sarveshkuar1702@gmail.com
grmishra@amity.edu.in
opsingh@amity.edu.in
nitingoel435@gmail.com
anup.dutta97@gmail.com
j.brahma@cit.ac.in
ak.barman@cit.ac.in
san@cit.ac.in
b.choudhury@cit.ac.in
n.jyoti@cit.ac.in
p.baruah@cit.ac.in
s.borgoyary@cit.ac.in
Hajoary.deepak@gmail.com
shrmstha@gmail.com
dalimiw@gmail.com
a.das@cit.ac.in
mrityunjaybrahma@gmail.com
moonnibi5@gmail.com
p.sarkar@cit.ac.in
m.karmakar@cit.ac.in
adas0078@rediffmail.com
ranjan.maity@gmail.com
nitu.patowary2009@gmail.com
r.patowary@cit.ac.in
a.deka@cit.ac.in
kcd.sarma@cit.ac.in
bp.chetry@cit.ac.in
a.mukherjee@cit.ac.in
m.sarma@cit.ac.in
j.dutta@cit.ac.in
subungshribasumatary92@gmail.com
dipali.basumatary32@gmail.com
dhanjitsarma2015@gmail.com
ak.raibaruah@cit.ac.in
rbiswas@jamiahamdard.ac.in
iraza@jamiahamdard.ac.in
jawed2047@gmail.com
safdartanweer@yahoo.com
drsapnajain@jamiahamdard.ac.in
aliz.inam@gmail.com
ihussain@jamiahamdard.ac.in
akmahto@jamiahamdard.ac.in
shahimranalam@gmail.com
navedfzl@gmail.com
pitush4talkin@gmail.com
pooja.gupta@jamihamdard.ac.in
mariaafzal0105@gmail.com
kamalaayesha1@gmail.com
nassemjmi@gmail.com
asfiaaziz@yahoo.co.in
mirzarahilbeg@gmail.com
psyadav@jamiahamdard.ac.in
Iklakh786@rediffmail.com
oahmad@jamiahamdard.ac.in
vishal.sharma@bharatividyapeeth.edu
ashishkumarmourya@gmail.com
mailforshafqat@gmail.com
inshanaz_sch@jamiahamdard.ac.in
sunil.malviya@knit.ac.in
dileep.rathore@knit.ac.in
sohit009@yahoo.com
bharat.singh.nitit@gmail.com
rohitsingh051@gmail.com
blpal2009@gmail.com
draushan004007@gmail.com
sudhirmohan11@gmail.com
au.akhilesh@gmail.com
baburam748@gmail.com
rafeeq.amu@gmail.com
kumarkundan510@gmail.com
rajput.ishwari@gmail.com
vineetstar10@gmail.com
akhileshtri@gmail.com
pksingh300689se@gmail.com
chauhanyk@yahoo.com
samir@knit.ac.in
sunildalal57@gmail.com
abhaykumaragarwal@knit.ac.in
alkasingh@knit.ac.in
n_badal@hotmail.com
bp_chaurasia@knit.ac.in
akmalviya@knit.ac.in
anujsinghnitp@gmail.com
tojppandey@rediffmail.com
abhi.knit2012@gmail.com
patel.aiet85@gmail.com
ajaykumar7103@gmail.com
fahada815@gmail.com
anand2616@gmail.com
jeeps2510@gmail.com
hkm1975@yahoo.co.in
gupta.praveen05@gmail.com
ratnesh.nitttr@gmail.com
sonkar.sanjaykumar@gmail.com
ravindrakmr18@gmail.com
tamannaveer22@gmail.com
bindeshwar.singh2025@gmail.com
ankitabajpai8@gmail.com
directormait2014@gmail.com
mehanvineet@gmail.com
nvntyagi04@gmail.com
nanglia.pankaj@gmail.com
madhuanand87@yahoo.com
rmoudgil16@gmail.com
ambition.negi@gmail.com
er.rahulgupta3164@gmail.com
shilpa1_goyal@rediffmail.com
ppparamjitsingh@gmail.com
kunal7biz@gmail.com
dahiya.mamta56@gmail.com
sunaina@mau.ac.in
atulsandilya1987@gmail.com
ranjitpes@gmail.com
vikrant19chem@gmail.com
vmukesh259@gmail.com
kulvinderchem@gmail.com
sugandhagudds11@gmail.com
pupooja16@gmail.com
munishsharmahpu@gmail.com
sunilkdhull102@gmail.com
mukeshghanghas5@gmail.com
sourav.gautam786@gmail.com
dr.spanwar@gmail.com
drmamta1503@gmail.com
kailashyadav447210@gmail.com
gulab24@gmail.com
punitasrm@gmail.com
kumarmanu830@gmail.com
payel.majumder@nshm.com
shantanu.dutta@nshm.com
srimanta.ghosal@gmail.com
subir.1234@gmail.com
surajit.das.mca@gmail.com
surjadeep.rout@nshm.com
zahir.hasan@bcrec.ac.in
tanumoy.das@nshm.com
me@psit.ac.in
raisulhasan1973@gmail.com
maaayank@gmail.com
mukeshdubey.biet@gmail.com
anshuanurag511@gmail.com
shivani.saxena111987@gmail.com
ruchigupta3102@gmail.com
jitesh.shukla@gmail.com
devendra260186@gmail.com
bhola.259@gmail.com
upadhyay.gaurav91@gmail.com
mrmishra93@gmail.com
keshav.gupta086@gmail.com
atchauhan.ac@gmail.com
gurmeet.arora@psit.ac.in
arunmee09@gmail.com
mkyadav80@rediffmail.com
akarvindak2@gmail.com
parulk257@gmail.com
ayushtrivedi0211@gmail.com
deepak.awasthi@psit.ac.in
aauptu2015@gmail.com
lk.psit@gmail.com
it@psit.ac.in
somesh.srivastava@psit.in
rsrinet.876@gmail.com
prachigupta.gupta52@gmail.com
sngrak@gmail.com
trivedi.ashutosh2013@gmail.com
arun.sachan@gmail.com
porwalakash.1989@gmail.com
ankur.vicky999@gmail.com
chayafcs@rkgit.edu.in
dharmfcs@rkgit.edu.in
deanacd@rkgit.edu.in
harryfee@rkgit.edu.in
jeetufcs@rkgit.edu.in
krsnafcs@rkgit.edu.in
manihfcs@rkgit.edu.in
manugfcs@rkgit.edu.in
nandkfcs@rkgit.edu.in
nehasfcs@rkgit.edu.in
nehajfit@rkgit.edu.in
nkunjfcs@rkgit.edu.in
parulfcs@rkgit.edu.in
piyusfcs@rkgit.edu.in
poojafcs@rkgit.edu.in
ranagfcs@rkgit.edu.in
preetfcs@rkgit.edu.in
guptafcs@rkgit.edu.in